<section class="well">
  <h1>Update <%= @job.title %> job at <%= @job.company.name %> here!</h1>
</section>

<div class="card-container">
  <%= render partial: "form" %>
</div>

<h4><button><%= link_to "<< Back To Jobs", jobs_path %></button></h4>
