<h1>Companies</h1>


<main class="card-container container">
  <% @companies.each do |company| %>
  <figure class="well card col-sm-3" class=company_<%= company.id %>>
    </h1>
      <%= link_to company.name, company_path(company) %>
    <h1>
    <figcaption class="buttons">
      <button type="button" class="btn">
        <%= link_to "Edit", edit_company_path(company) %>
      </button>
      <button type="button" class="btn">
        <%= link_to "Delete", company_path(company), method: "delete" %>
      </button>
    </figcaption>
  </figure>
  <% end %>
</main>
