All Jobs for <strong><%= @company.name %></strong>

<%= render partial: 'job', collection: @company.jobs %>

<h1>Create a New Contact</h1>
<%= render partial: 'contacts/form' %>
<%= render partial: 'contact', collection: @company.contacts %>
